<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title></title>
    <link rel="stylesheet" href="${ctxPath}/static/css/order_add.css">
    <script type="text/javascript" src="${ctxPath}/static/js/jquery.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="${ctxPath}/static/js/hammer.min.js" charset="utf-8"></script>
</head>
<body>
<select id="groupId" style="display: none;">

</select>
<div class="orderPage">
    <ul class="showData">
    </ul>
    <div>
        <div class="time_view touch">
            <div id="time"></div>
        </div>

    </div>
    <div class="cont_bot">
        <div class="num_view touch">
            <div id="num"></div>
        </div>

        <div class="order_view touch">
            <div id="order"></div>
        </div>

    </div>
    <div class="bottom">
        <div class="msgErr" style="display: none;"></div>
        <div id="selected" class="sub next">选好了</div>
    </div>
</div>
<div class="detailPage" style="display: none;">
    <div class="title">订单详情</div>
    <div class="ctn">
        <div class="left">
            <div class="lr">
                <span class="lw">预定时间：</span>
                <span id="show_date">未知</span>
            </div>
            <div class="lr">
                <span class="lw">预定信息：</span>
                <div class="r_list" id="show_list">
                </div>
            </div>
            <div class="lr">
                <span class="lw">支付金额：</span>
                <span id="show_paycount">未知</span>
            </div>
        </div>
        <div class="right">
            <div class="line">
                <span>预定人:</span>
            </div>
            <div class="line_input">
                <input type="text" id="bookPersonName" placeholder="预定人"/>
                <span id="finish_name" style="display: none"></span>
            </div>
            <div class="line">
                <span>手机号:</span>
            </div>
            <div class="line_input">
                <input type="tel" maxlength="11" id="bookPersonPhone" placeholder="手机号"/>
                <span id="finish_phone" style="display: none"></span>
            </div>
        </div>
        <div style="display: none">

        </div>
    </div>
    <div class="bottom">
        <div class="sub rest" onclick="goback()">重选</div>
        <div class="sub go" onclick="goSubmit()">提交</div>
    </div>
    <div id="finish" style="display: none">
        预订成功
    </div>
</div>
<input type="hidden" id="bookCourtType" value="${bookCourtType}"/>
</body>
<script type="text/javascript">
    var order = [];
    var bookDate = "";
    var cost = "";
    var translate = {
        x: 0,
        y: 0,
        lastX: 0,
        lastY: 0
    };
    //滑动
    var mc = new Hammer($(".order_view")[0]);
    $(function () {
        //日期
        var DateHtml = "";
        for (var i = 0; i < 7; i++) {
            var mdate = {};
            var thisData = new Date();
            thisData.setTime(new Date().getTime() + 24 * 60 * 60 * 1000 * i);
            var t = (thisData.getMonth() + 1) + "月" + thisData.getDate() + "日";

            mdate.date = t;
            var fulldate = (thisData.getFullYear() + "-" + (thisData.getMonth() + 1) + "-" + thisData.getDate()).replace(/\d+/g, function (a) {
                return (a.length == 4) ? a : ((a.length == 2) ? a : ("0" + a))
            });
            if (i == 0) {
                DateHtml += "<li data='" + fulldate + "' class='select'>" + t + "</li>";
                bookDate = fulldate;
                query(fulldate)
            } else {
                DateHtml += "<li data='" + fulldate + "'>" + t + "</li>"
            }

        }
        $(".showData").html(DateHtml);
        $(".showData li").on("click", function () {
            var _this = $(this);
            if (_this.attr("class") == "select") {
                return
            }
            _this.addClass("select").siblings().removeClass("select");
            bookDate = _this.attr("data");
            query(bookDate);
        });

        $("#selected").on("click", function () {
            if (order.length < 1) {
                return
            }
            showDetail();
        });



        mc.add(new Hammer.Pan({
            threshold: 0,
            pointers: 0
        }));
        mc.on("panstart panmove", onPan);
        mc.on("hammer.input", function (ev) {
            if (ev.isFinal) {
                translate.lastX = translate.x;
                translate.lastY = translate.y;
            }
        });

        var bookCourtType=$("#bookCourtType").val();
        if (bookCourtType == "0") {
            $("#groupId").show();
            $.post("/record/groupList", {}, function (data) {
                $.each(data, function (index, val) {
                    var opt = $("<option value='" + val.groupId + "'>" + val.groupName + "</option>");
                    $("#groupId").append(opt);
                })
            });
        }else{
            $("#groupId").hide();
        }

    });

    /* 请求数据 */
    function query(date) {
        $.post("/record/api/bookInfo", {bookDate: date}, function (data) {
            if (data.code == "1") {
                showOrder(data);
            } else {
                alert("出错啦")
            }
        }, "json")
    }

    function showOrder(req) {
        var Tabhtml = "";
        var TimeHtml = "";
        var NumHtml = "";

        var num = req.courtInfo;
        var time = req.timePriceInfo;
        NumHtml += "<ul>";
        TimeHtml += "<ul>";
        for (var n = 0; n < num.length; n++) {
            NumHtml += "<li>" + num[n].name + "</li>";
            Tabhtml += "<ul class='line'>";
            for (var i = 0; i < time.length; i++) {

                var solded = false;
                var book = req.bookCourtInfo;
                for (var j = 0; j < book.length; j++) {
                    if (book[j].courtId == num[n].id) {
                        var timelist = book[j].timeIds.split(",");
                        if (timelist.indexOf("" + time[i].id) > -1) {
                            solded = true
                        }
                    }
                }
                if (solded) {
                    Tabhtml += "<li class='solded' p_id='" + num[n].id + "' t_id='" + time[i].id + "' p_name='" + num[n].name + "' t_name='" + time[i].time + "' p='" + time[i].price + "'>" + time[i].price + "元</li>"
                } else {
                    Tabhtml += "<li class='unsell' p_id='" + num[n].id + "' t_id='" + time[i].id + "' p_name='" + num[n].name + "' t_name='" + time[i].time + "' p='" + time[i].price + "'>" + time[i].price + "元</li>"

                }
                if (n == 0) {
                    TimeHtml += "<li>" + time[i].time + "</li>"
                }
            }
            Tabhtml += "</ul>"
        }
        NumHtml += "</ul>";
        TimeHtml += "</ul>";
        $("#num").html(NumHtml);
        $("#order").html(Tabhtml);
        $("#time").html(TimeHtml);
        initClick();
    }

    function initClick() {
        order = [];
        $("#order li").on("click", function () {
            _this = $(this);
            if (_this.attr("class") == "solded") {
                return
            }

            var courtId = _this.attr("p_id");
            var timePriceId = _this.attr("t_id");
            var thisOrder = {
                "courtId": courtId,
                "timePriceId": timePriceId,
                "courtName": _this.attr("p_name"),
                "timeName": _this.attr("t_name"),
                "price": _this.attr("p")
            }

            if (_this.attr("class") == "unsell") {
                if (order.length < 4) {
                    _this.attr("class", "order");
                    order.push(thisOrder)
                } else {
                    $(".msgErr").text("*最多只能预定4个")
                    $(".msgErr").css("display", "")
                    setTimeout(function () {
                        $(".msgErr").css("display", "none")
                    }, 3000)
                }

            } else if (_this.attr("class") == "order") {
                _this.attr("class", "unsell");
                for (index in order) {
                    if (order[index]["courtId"] == courtId && order[index]["timePriceId"] == timePriceId) {
                        order.splice(index, 1)
                    }
                }
            }
        });
    }


    //铺订单数据
    function showDetail() {
        var show_listHtml = "";
        var show_paycount = 0;
        for (var i = 0; i < order.length; i++) {
            show_listHtml += "<div><span>" + order[i].courtName + "</span><span>" + order[i].timeName + "场次</span></div>";
            show_paycount += Number(order[i].price);
        }
        cost = show_paycount;
        $("#show_list").html(show_listHtml);
        $("#show_paycount").text(show_paycount + "元");
        $("#show_date").text(bookDate);
        //切换
        $(".detailPage").css("display", "");
        $(".orderPage").css("display", "none");
    }

    function goback() {
        $(".detailPage").css("display", "none");
        $(".orderPage").css("display", "");
    }

    //提交订单
    function goSubmit() {

        var bookPersonName = $("#bookPersonName").val()
        var bookPersonPhone = $("#bookPersonPhone").val();

        $("#bookPersonName").css("border-color", "#9E9E9E");
        $("#bookPersonPhone").css("border-color", "#9E9E9E");
        if (bookPersonName == "") {
            $("#bookPersonName").css("border-color", "red");
            return
        }
        if (!/^[1][3,4,5,7,8][0-9]{9}$/.test(bookPersonPhone)) {
            $("#bookPersonPhone").css("border-color", "red");
            return
        }
        var bookCourtType = $("#bookCourtType").val();
        var groupId=$("#groupId").val();
        var param = {
            bookDate: bookDate,
            cost: cost,
            bookList: order,
            bookPersonName: bookPersonName,
            bookPersonPhone: bookPersonPhone,
            bookCourtType: bookCourtType,
            groupId:groupId
        };
        $.post("/record/api/saveBookInfo", {bookInfo: JSON.stringify(param)}, function (data) {
            if (data.code == "1") {
                $("#bookPersonName").css("display", "none");
                $("#bookPersonPhone").css("display", "none");
                $(".detailPage .bottom").css("display", "none");
                $("#finish_phone").text(bookPersonPhone).css("display", "");
                $("#finish_name").text(bookPersonName).css("display", "");
                $("#finish").css("display", "");
            } else {
                alert("出错啦");
            }
        }, "json")
    }


    function onPan(ev) {
        var scrollwidth = $("#order").width() - $(".order_view").width();
        var scrollheight = $("#order").height() - $(".order_view").height();
        var nextX = translate.lastX + ev.deltaX;
        var nextY = translate.lastY + ev.deltaY;
        //x轴是否可以滚动
        if (scrollwidth > 0) {
            if (-scrollwidth < nextX && nextX < 0) {
                translate.x = nextX;
            } else {
                //防止拖动太快,滑动不到边界
                if (-scrollwidth > nextX) {
                    translate.x = -scrollwidth
                }
                if (nextX > 0) {
                    translate.x = 0
                }
            }
        }
        //y轴是否可以滚动
        if (scrollheight > 0) {
            if (-scrollheight < nextY && nextY < 0) {
                translate.y = nextY;
            } else {
                if (-scrollheight > nextY) {
                    translate.y = -scrollheight
                }
                if (nextY > 0) {
                    translate.y = 0
                }
            }
        }

        doTranslate(translate)
    }


    function doTranslate(arg) {
        document.querySelector('#order').style.transform = "translate3d(" + arg.x + "px," + arg.y + "px, 0px)";
        document.querySelector('#time').style.transform = "translate3d(" + arg.x + "px, 0px, 0px)";
        document.querySelector('#num').style.transform = "translate3d(0px, " + arg.y + "px, 0px)";
    }
</script>
</html>
